# t-rex configuration

[service.mvt]
viewer = true

[datasource]
type = "postgis"
url = "postgresql://postgres:geopython@postgis/data-loader"

[grid]
# Predefined grids: web_mercator, wgs84
predefined = "web_mercator"

[[tileset]]
name = "vectormapdistrict"
extent = [-4.24917, 55.80540, -3.90689, 56.05154]

[[tileset.layer]]
name = "administrativeboundary"
table_name = "vector_map_district.administrativeboundary"
geometry_field = "wkb_geometry"
geometry_type = "LINESTRING"
srid = 27700
#fid_field = "id"
buffer_size = 0
simplify = true
query_limit = 1000
#[[tileset.layer.query]]
#sql = """SELECT ST_Transform(wkb_geometry,3857) AS wkb_geometry,"ogc_fid","gml_id","classification","featurecode" FROM vector_map_district.administrativeboundary WHERE wkb_geometry && !bbox!"""

[[tileset.layer]]
name = "building"
table_name = "vector_map_district.building"
geometry_field = "wkb_geometry"
geometry_type = "POLYGON"
srid = 27700
#fid_field = "id"
buffer_size = 1
simplify = true
query_limit = 1000
#[[tileset.layer.query]]
#sql = """SELECT ST_Transform(wkb_geometry,3857) AS wkb_geometry,"ogc_fid","gml_id","featurecode" FROM vector_map_district.building WHERE wkb_geometry && !bbox!"""

[[tileset.layer]]
name = "namedplace"
table_name = "vector_map_district.namedplace"
geometry_field = "wkb_geometry"
geometry_type = "POINT"
srid = 27700
#fid_field = "id"
buffer_size = 0
query_limit = 1000
#[[tileset.layer.query]]
#sql = """SELECT ST_Transform(wkb_geometry,3857) AS wkb_geometry,"ogc_fid","gml_id","distinctivename","classification","fontheight","textorientation","textorientation_uom","featurecode" FROM vector_map_district.namedplace WHERE wkb_geometry && !bbox!"""

[[tileset.layer]]
name = "road"
table_name = "vector_map_district.road"
geometry_field = "wkb_geometry"
geometry_type = "LINESTRING"
srid = 27700
#fid_field = "id"
buffer_size = 0
simplify = true
query_limit = 1000
#[[tileset.layer.query]]
#sql = """SELECT ST_Transform(wkb_geometry,3857) AS wkb_geometry,"ogc_fid","gml_id","classification","drawlevel","override","featurecode","distinctivename","roadnumber" FROM vector_map_district.road WHERE wkb_geometry && !bbox!"""

[[tileset.layer]]
name = "surfacewater_area"
table_name = "vector_map_district.surfacewater_area"
geometry_field = "wkb_geometry"
geometry_type = "POLYGON"
srid = 27700
#fid_field = "id"
buffer_size = 1
simplify = true
query_limit = 1000
#[[tileset.layer.query]]
#sql = """SELECT ST_Transform(wkb_geometry,3857) AS wkb_geometry,"ogc_fid","gml_id","featurecode" FROM vector_map_district.surfacewater_area WHERE wkb_geometry && !bbox!"""

[[tileset.layer]]
name = "surfacewater_line"
table_name = "vector_map_district.surfacewater_line"
geometry_field = "wkb_geometry"
geometry_type = "LINESTRING"
srid = 27700
#fid_field = "id"
buffer_size = 0
simplify = true
query_limit = 1000
#[[tileset.layer.query]]
#sql = """SELECT ST_Transform(wkb_geometry,3857) AS wkb_geometry,"ogc_fid","gml_id","featurecode" FROM vector_map_district.surfacewater_line WHERE wkb_geometry && !bbox!"""

[[tileset.layer]]
name = "woodland"
table_name = "vector_map_district.woodland"
geometry_field = "wkb_geometry"
geometry_type = "POLYGON"
srid = 27700
#fid_field = "id"
buffer_size = 1
simplify = true
query_limit = 1000
#[[tileset.layer.query]]
#sql = """SELECT ST_Transform(wkb_geometry,3857) AS wkb_geometry,"ogc_fid","gml_id","featurecode" FROM vector_map_district.woodland WHERE wkb_geometry && !bbox!"""

[[tileset]]
name = "land_polygons_z6"
extent = [179.95605, -85.05492, -179.95605, 83.66650]
[[tileset.layer]]
name = "land_polygons_z6"
table_name = "osm_land_simple.land_polygons_z6"
geometry_field = "wkb_geometry"
geometry_type = "MULTIPOLYGON"
srid = 3857
#fid_field = "id"
buffer_size = 1
simplify = true
query_limit = 10000
#[[tileset.layer.query]]
#sql = """SELECT wkb_geometry,"ogc_fid","fid"::FLOAT8 FROM osm_land_simple.land_polygons_z6 WHERE wkb_geometry && !bbox!"""

[[tileset]]
name = "simplified_water_polygons"
extent = [-4.24917, 55.80540, -3.90689, 56.05154]
[[tileset.layer]]
name = "simplified_water_polygons"
table_name = "osm_coast_simple.simplified_water_polygons"
geometry_field = "wkb_geometry"
geometry_type = "POLYGON"
srid = 3857
#fid_field = "id"
buffer_size = 1
simplify = true
query_limit = 10000
#[[tileset.layer.query]]
#sql = """SELECT wkb_geometry,"ogc_fid","fid"::FLOAT8 FROM osm_coast_simple.simplified_water_polygons WHERE wkb_geometry && !bbox!"""

[webserver]
# Bind address. Use 0.0.0.0 to listen on all adresses.
bind = "0.0.0.0"
port = 6767
threads = 4
#cache_control_max_age = 43200

